<%- include('../partials/header.ejs') %>

<section class="camps">
  <div class="container py-3">
    <div class="depth bg-primary">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Campaigns</li>
      </ol>
    </div>
    <p>Campaigns are coming soon!</p>
  </div>
</section>

<%- include('../partials/footer.ejs') %>
