<%- include('../partials/header.ejs') %>

<section class="home">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6">
        <div class="welcome">
          <p>
            The best Bangladeshi marketplace to purchase various game credits.
          </p>
          <p>Participate in our giveaway campaigns and win awesome gadgets. Test your luck today!</p>
        </div>
      </div>

      <div class="col-md-6 text-center">
        <img src="img/show-off.svg" id="show-off" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>

<section class="speciality">
  <div class="container py-5">
    <div class="head col-md-6">
      <h4 class="text-white">Why we are special?</h4>
    </div>
    <div class="row mt-5 mb-3">
      <div class="col-6">
        <div class="customCard mb-2">
          <div class="text-center">
            <i class="icon bi bi-award-fill"></i>
            <h5 class="mt-2">Fully trusted</h5>
          </div>
          <p class="mt-3">
            We don't believe in fraud. Our all products and campaigns are 100% authentic and trusted! But how you'd belive that? Let's give us a try.
          </p>
        </div>
      </div>
      <div class="col-6">
        <div class="customCard mb-2">
          <div class="text-center">
            <i class="icon bi bi-bag-check-fill"></i>
            <h5 class="mt-2">Safe shopping</h5>
          </div>
          <p class="mt-3">
            We understand the value of your money. Shop safely with us without facing any frauds. We have made our server and website totally secure to provide the best shopping experience.
          </p>
        </div>
      </div>
    </div>

    <!-- another row -->
    <div class="row mb-3">
      <div class="col-6">
        <div class="customCard mb-2">
          <div class="text-center">
            <i class="icon bi bi-chat-dots-fill"></i>
            <h5 class="mt-2">Fast support</h5>
          </div>
          <p class="mt-3">
            We have dedicated support hours to help you at any issues and situations on our website. Whatever your question is, reach us through our email or facebook page for answer.
          </p>
        </div>
      </div>
      <div class="col-6">
        <div class="customCard mb-2">
          <div class="text-center">
            <i class="icon bi bi-shield-fill-check"></i>
            <h5 class="mt-2">Secure payments</h5>
          </div>
          <p class="mt-3">
            Our payment methods are fully secure. Pay using bKash, Nagad as your convenience. In case of any emergency our support team is always there for you.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/footer.ejs') %>
