<%- include('../partials/header.ejs') %>

<section class="products">
  <div class="container py-3">
    <div class="depth bg-primary">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Products</li>
      </ol>
    </div>

    <!-- cp -->
    <div class="productRow">
      <div class="row">
        <div class="col-md-3">
          <div>
            <img src="img/cp-logo.png" class="p-img" alt="" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-dark">
            <h5 class="text-center text-white mb-3">
              Call of Duty : Mobile (CP)
            </h5>
            <hr class="text-white">
            <div class="text-white">
              <p>
                Buy any amount of Cod points (CP) for Call of Duty : Mobile from
                us. Prices are reasonable and also affordable.
              </p>
              <p>Orders are delivered to your account as fast as possible.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 actions">
          <a href="/order?item=cp" class="btn btn-success btn-sm d-block w-50"
            >Order now
          </a>
          <a
            href="/wishlist?item=cp"
            class="btn btn-secondary btn-sm d-block w-50"
            >Wishlist
          </a>
        </div>
      </div>
    </div>

    <!-- diamonds -->
    <div class="productRow">
      <div class="row">
        <div class="col-md-3">
          <div>
            <img src="img/diamonds.png" class="p-img" alt="" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-dark">
            <h5 class="text-center text-white mb-3">Free Fire (Diamonds)</h5>
            <hr class="text-white">
            <div class="text-white">
              <p>
                Buy any amount of Diamonds for Free Fire from Zone98. We offer
                best affordable price in market.
              </p>
              <p>Orders are delivered to your account as fast as possible.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 actions">
          <a href="/order?item=dmd" class="btn btn-success btn-sm d-block w-50 disabled"
            >Coming soon
          </a>
          <a
            href="/wishlist?item=dmd"
            class="btn btn-secondary btn-sm d-block w-50"
            >Wishlist
          </a>
        </div>
      </div>
    </div>

    <!-- uc -->
    <div class="productRow">
        <div class="row">
          <div class="col-md-3">
            <div>
              <img src="img/uc.png" class="p-img" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-dark">
              <h5 class="text-center text-white mb-3">PUBG Mobile (UC)</h5>
              <hr class="text-white">
              <div class="text-white">
                <p>
                  Buy any amount of UC for PUBG Mobile from Zone98. We offer
                  best affordable price in market. we don't require 40% tax also.
                </p>
                <p>Orders are delivered to your account as fast as possible.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 actions">
            <a href="/order?item=uc" class="btn btn-success btn-sm d-block w-50 disabled"
              >Coming soon
            </a>
            <a
              href="/wishlist?item=uc"
              class="btn btn-secondary btn-sm d-block w-50"
              >Wishlist
            </a>
          </div>
        </div>
      </div>
  </div>
</section>

<%- include('../partials/footer.ejs') %>
